/*Import Fonts*/

@font-face {
    font-family: merriweather;
    src: url("./fonts/Merriweather-Regular.ttf");
}

@font-face {
    font-family: novaFlat;
    src: url("./fonts/NovaFlat-Regular.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

/*CSS Defaults*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}

body {
    background-color: black !important;
    background-position: center;
    color: white !important;
    overflow-x: hidden;
    position: relative;
}

::-webkit-scrollbar {
    width: 0px;
}

main {
    width: 100%;
    height: fit-content;
    background: url('./media/bg.png');
    background-position: center;
    min-height: 100vh;
}

main #main-div {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

section {
    width: 100%;
    padding: 40px 0;
    padding-bottom: 60px;
}

section .heading {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-right: -0.1rem;
    font-weight: bold;
}

section .heading .head-border {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: fit-content;
    margin-top: 5px;
}

section .heading .head-border .box {
    width: 6px;
    height: 6px;
    background-color: white;
    transform: rotate(45deg);
}

section .heading .head-border .line {
    width: 100px;
    height: 1px;
    background-color: white;
}

section .sec-body {
    height: calc(100% - (98px));
    width: 100%;
    margin-top: 30px;
}

a {
    color: white !important;
    text-decoration: none !important;
}


/* Pre-Loader */

.loader {
    background: #000;
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: helvetica, arial, sans-serif;
    font-weight: 900;
    letter-spacing: 0.2em;
    z-index: 9999999;
    display: none;
}

.loader span {
    position: absolute;
    width: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
}

.loader span::before,
.loader span::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #ED5E29;
    position: absolute;
    animation: load 0.7s infinite alternate ease-in-out;
}

.loader span::before {
    top: 0;
}

.loader span::after {
    bottom: 0;
}

@keyframes load {
    0% {
        left: 0;
        height: 30px;
        width: 15px;
    }
    50% {
        height: 8px;
        width: 40px;
    }
    100% {
        left: 235px;
        height: 30px;
        width: 15px;
    }
}


/* Navbar */

nav {
    padding: 8px 30px;
    z-index: 999;
    transition: background-color 0.5s linear;
}

.nav-transparent {
    background-color: rgba(0, 0, 0, 0);
}

.nav-colored {
    background-color: rgba(0, 0, 0, 0.8);
}

nav #logo {
    font-family: merriweather;
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    margin-right: -0.15rem;
    mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    mask-size: 200%;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s linear infinite;
}

#medexnav2k21 {
    display: none !important;
}

@keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}

nav #navs div {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav #navs a {
    font-family: novaFlat;
    margin: 0 20px;
    font-size: 1.15rem;
    display: flex;
    align-items: center;
    transition: all 0.5s;
}

nav #navs a:hover {
    color: #D43F52 !important;
}

nav .fa-bars {
    position: absolute;
    font-size: 25px;
    top: 50%;
    right: 20px;
    transform: translate(-50%, -50%);
    display: none;
}


/* Gear */

#gear {
    width: 100px;
    height: 100px;
    position: fixed;
    right: 10px;
    bottom: 30px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(0);
    transition: all 0.5s;
}

#gear .centerLine {
    width: 100px;
    height: 2px;
    background-color: white;
    position: relative;
}

#gear .centerLine .line {
    width: 2px;
    height: 80px;
    position: absolute;
    top: -40px;
    background-color: white;
}

#gear .centerLine .line:nth-of-type(2) {
    left: 50px;
}

#gear .centerLine .line:nth-of-type(3) {
    left: 100px;
}

#gear .centerLine .gearDot {
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

#gear .centerLine .topDot {
    top: -41px;
    left: -2px;
}

#gear .centerLine .bottomDot {
    top: 39px;
    left: -2px;
}

#gear .centerLine .topDot div {
    position: absolute;
    top: -30px;
    left: -3px;
    font-size: 20px;
    font-family: merriweather
}

#gear .centerLine .topDot .gear-link {
    top: -30px;
    left: -25px;
    z-index: 999;
}

#gear .centerLine .bottomDot div {
    position: absolute;
    top: 5px;
    left: -2px;
    font-size: 20px;
    font-family: merriweather
}

#gear .centerLine .bottomDot .gear-link {
    top: 10px;
    left: -50px;
}

#gear .centerLine .centerDot {
    width: 10px;
    height: 10px;
    top: -3px;
    left: 46.5px;
    background-color: white;
}

#gear .centerLine .centerDot .gear-link {
    position: absolute;
    top: -27px;
    left: -7px;
}

.gear-link {
    background-color: beige;
    color: black;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 16px !important;
    font-weight: 600;
    display: none;
}

.gearDot:hover .gear-link {
    display: block;
}

#gear #medex2k21 {
    position: absolute;
    bottom: -45px;
    left: -25px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    width: 150px;
}


/* Home */

#home {
    position: relative;
    height: 100vh;
    min-height: 500px;
}

#home #video video {
    min-height: 100%;
    width: auto;
    object-fit: cover;
}

#home #welcome {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.884) 45%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    padding-top: 25px;
}

#welcome #branding {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
}

#branding #images {
    margin-bottom: 40px;
}

#branding img {
    width: 100px;
    margin: 0 10px;
    mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.3) 30%, #000 50%, rgba(0, 0, 0, 0.3) 70%);
    mask-size: 200%;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .3) 30%, #000 50%, rgba(0, 0, 0, .3) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s linear infinite;
}

#welcome #branding #name {
    font-size: 2rem;
    font-family: merriweather;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.2rem;
    margin-right: -0.2rem;
}

#welcome #branding #tag {
    font-size: 1.25rem;
    letter-spacing: 0.2rem;
    margin-right: -0.2rem;
}

#welcome #branding #nimbus {
    margin-top: 30px;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 10px;
    letter-spacing: 2px;
    transition: all 0.75s;
    cursor: pointer;
}

#welcome #branding #medextrous {
    margin-top: 15px;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 7.5px;
    letter-spacing: 1.25px;
    transition: all 0.75s;
    cursor: pointer;
    font-size: 0.7em;
}

#welcome #branding #nimbus:hover {
    background-color: white;
    color: black;
    font-weight: 600;
    border-color: #000;
}

#welcome #branding #medextrous:hover {
    background-color: white;
    color: black;
    font-weight: 600;
    border-color: #000;
}


/* Instagram */

.instagram {
    overflow: hidden;
}

.instagram-div {
    position: relative;
    width: 100%;
    height: fit-content;
}

.instagram-div .next-btn {
    color: #e7eb0e;
    font-size: 50px;
    position: absolute;
    top: 150px;
    right: 40px;
    cursor: pointer;
}

.head-insta {
    position: absolute;
    top: 15px;
    left: -110px;
    transform: rotate(-40deg);
    padding: 10px 100px;
    font-size: 24px;
    background-color: #e7eb0e;
    color: #000;
    font-family: Orbitron;
}

.instagram:nth-of-type(even) .head-insta {
    background-color: snow;
    top: auto;
    left: auto;
    transform: rotate(40deg);
    right: -115px;
    bottom: 305px;
}

#tuesdayFacts {
    width: 100%;
    height: 372px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    flex-wrap: wrap;
    overflow: hidden;
    margin: auto;
}

.insta-block {
    width: 250px;
    height: fit-content;
    background-color: white;
    margin: 0 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgb(240, 240, 240);
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 30px;
}

.insta-block .image {
    width: 100%;
    height: 250px;
    background: #00cffd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.insta-block .image img {
    width: 100%;
}

.insta-block .banner {
    font-size: 16px;
    padding: 3px 5px;
    position: relative;
}

.insta-block .banner div {
    margin: 0 3px;
    display: inline;
}

.insta-block .description {
    color: #000;
    margin-top: 2px;
    padding: 3px 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

.insta-block .description span {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -0.4px;
    margin-left: 4px;
}


/*About Us*/

#about #content {
    width: 45%;
    height: 100%;
    margin: 0 20px;
    font-size: 17.5px;
    color: rgb(190, 188, 188);
}

#about #content span {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
}

#about #image {
    width: 45%;
    max-height: 450px;
    margin: 0 20px;
}

#about #image img {
    min-width: 101%;
}


/* Projects */

#projects .project-card {
    width: 300px;
    height: 380px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(134, 134, 134);
    border: 1px solid #1f1f1fa1;
    position: relative;
    margin: 20px;
    margin-top: 50px;
    color: black;
}

#projects .project-card .project-image {
    width: 100px;
    height: 100px;
    background-color: #D43F52;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 30%;
    border: 2px solid white;
    transition: all 0.5s;
    position: absolute;
    top: -50px;
    left: 100px;
    color: white;
    font-size: 36px;
}

#projects .project-card:hover .project-image {
    border-radius: 50%;
}

#projects .project-card .project-image-blur {
    height: 150px;
    background-color: #D43F52;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transition: all 0.5s;
    background-position: center !important;
    background-size: cover !important;
}

#projects .project-card:hover .project-image-blur {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

#projects .project-card .project-name {
    padding: 8px;
    font-family: merriweather;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
}

#projects .project-card .project-desc {
    padding: 4px 10px;
    font-size: 14px;
}

#projects .project-card .links {
    position: absolute;
    width: 100%;
    height: 0px;
    bottom: 0;
    background-color: #D43F52;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.5s;
    color: white;
    overflow: hidden;
    font-size: 24px;
    cursor: pointer;
}

#projects .project-card .links span {
    font-size: 14px;
    margin-left: 5px;
    margin-top: 1px;
    text-transform: uppercase;
    font-family: merriweather;
}

#projects .project-card:hover .links {
    height: 40px;
}

#projects .more-projects {
    height: 0;
    transition: all 0.5s ease-in-out;
}

#projects #mp-btn {
    padding: 10px 20px;
    letter-spacing: 2px;
    margin-right: -2px;
    border: 1px solid white;
    margin-top: 20px;
    font-weight: 600;
    transition: all 0.5s;
}

#mp-btn:hover {
    background-color: #D43F52;
    border: 1px solid transparent !important;
    box-shadow: 0px 0px 5px #D43F52;
    cursor: pointer;
}


/* Events */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
#events .cardBox {
    font-family: "Poppins", sans-serif;
    width: 240px;
    height: 350px;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    border-radius: 10px;
    background: #40E0D0;
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px, rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
    margin: 25px;
}

#events .card {
    position: absolute;
    width: 96%;
    height: 96%;
    background: #000814;
    border-radius: 10px;
    z-index: 5;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
    cursor: pointer;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
}

#events .card #content {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    height: 0px;
    transition: all 0.5s ease-in;
}

#events .card:hover #content {
    height: 350px;
}

#events .card #content #content-box {
    padding: 15px 5px;
}

#events .card #content #heading {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-family: novaFlat;
}

#events .card #content #description {
    font-size: 12px;
    margin-top: 20px;
}

#events .cardBox::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 150%;
    background: #40E0D0;
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    animation: glowing01 5s linear infinite;
    transform-origin: center;
    animation: glowing 5s linear infinite;
}

@keyframes glowing {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Gallery */

#gallery #gallery-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
}

#gallery #gallery-div .thumbnail {
    width: 150px;
    height: 150px;
    margin: 20px 10px;
    border-radius: 5px;
    border: 1px groove white;
    position: relative;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer !important;
}

#gallery #gallery-div .thumbnail .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#gallery #gallery-div .thumbnail img {
    height: 100%;
}

#gallery #gallery-div .thumbnail .category {
    background-color: white;
    color: black;
    position: absolute;
    width: 150px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: 600;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    bottom: -20px;
    border: 1px groove white;
    border-top: 0px;
}

#gallery #full-btn {
    padding: 8px 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border: 1px solid white;
    width: fit-content;
    margin: auto;
    font-size: 14px;
    margin-top: 50px;
    border-radius: 5px;
    transition: all 0.5s;
    font-weight: 600
}

#gallery #full-btn:hover {
    background-color: #D43F52;
    border-color: transparent;
}


/* Team */

#team .year {
    width: 90%;
    margin: 50px auto;
    max-width: 1000px;
    height: 300px;
}

#team .year .number {
    color: black;
    height: 100%;
    width: 80px;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D43F52;
    border-radius: 20px;
    font-size: 30px;
    color: white;
    font-family: novaFlat;
    font-weight: 600;
    letter-spacing: 2px;
    margin-right: 20px;
}

#team .year .number:nth-of-type(even) {
    writing-mode: vertical-rl;
    transform: rotate(0deg);
    margin: 0;
    margin-left: 20px;
}

#team .year .frame {
    height: 300px;
    padding: 35px 0 5px 0;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.frame::-webkit-scrollbar {
    height: 5px;
}


/* Track */

.frame::-webkit-scrollbar-track {
    background: transparent;
}


/* Handle */

.frame::-webkit-scrollbar-thumb {
    background: #D43F52;
}


/* Handle on hover */

.frame::-webkit-scrollbar-thumb:hover {
    background: #942736;
}

#team .year .frame .frame-flex {
    width: fit-content;
}

#team .year .frame .name-card {
    height: 240px;
    overflow: hidden;
    width: 200px;
    position: relative;
    border-radius: 10px;
    margin-right: 10px;
}

#team .year .frame .name-card .team-image {
    width: 100%;
    height: 200px;
}

#team .year .frame .name-card .team-name {
    height: 40px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: merriweather;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 12px !important;
    font-weight: bold;
}

.name-card #links {
    width: 100%;
    height: 35px;
    background-color: transparent;
    position: absolute;
    bottom: 40px;
    overflow: hidden;
    text-align: center;
}

.name-card #links span {
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 5px 7px;
    border-radius: 5px;
    transform: translateY(-15px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    margin: 0 2.5px;
    cursor: pointer;
}

.name-card #links i {
    color: rgb(45, 45, 45);
    font-size: 18px;
}

.name-card:hover #links span {
    transform: translateY(0px);
    opacity: 1;
}


/* Contact Us */

#contact {
    min-height: 0px;
    background: url("./media/contact.jpg");
    background-size: cover;
    background-position-y: center;
    padding: 0;
}

#contact #cover {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);
    padding: 40px 0;
}

#contact #contacts {
    width: 50%;
    text-align: center;
}

#contact #contacts img {
    width: 100px;
    margin: 10px 0;
}

#contact #contacts #links i {
    margin: 10px 20px;
    font-size: 26px;
    transition: all 0.2s ease-in-out;
}

#contact #contacts #links i:hover {
    transform: translateX(3px);
    color: #D43F52;
    cursor: pointer;
}

#contact #form {
    width: 50%;
}

#form input,
#form textarea {
    display: block;
    width: 360px;
    margin: 20px 0;
    background-color: transparent;
    border: 1px solid #999;
    padding: 8px 10px;
    color: white;
    letter-spacing: 1px;
    font-size: 15px;
    max-width: 90%;
}

input[type="submit"] {
    width: fit-content !important;
    text-transform: uppercase;
    font-size: 13px !important;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 30px !important;
    transition: all .75s;
}

input[type="submit"]:hover {
    background-color: white !important;
    color: black !important;
}

#contact-msg {
    text-align: center;
    margin-top: 20px;
}


/* Responsive Design */

@media screen and (max-width: 1024px) {
    #about #content {
        font-size: 14px;
    }
}

@media screen and (max-width: 920px) {
    #about #content {
        font-size: 12px;
        margin: 0 10px;
    }
    #about #image {
        margin: 0 10px;
    }
    nav #navs a {
        margin: 0 10px;
    }
}

@media screen and (max-width: 790px) {
    #gear {
        display: none !important;
    }
    #medexnav2k21 {
        display: flex !important;
    }
    #about #content {
        width: 90%;
        font-size: 16px;
    }
    #about #image {
        width: 80%;
        margin-top: 30px;
    }
    nav {
        background-color: rgba(0, 0, 0, 0.9) !important;
    }
    nav #navs {
        display: block !important;
        position: absolute;
        top: 51px;
        right: 0;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: 0px;
        overflow: hidden;
        transition: all 0.5s;
    }
    nav #navs div {
        margin: 30px auto;
    }
    nav a {
        margin: auto;
    }
    nav #navs a {
        font-size: 1.75rem;
    }
    nav .fa-bars {
        display: block;
    }
    #welcome #branding {
        width: 100%;
    }
    #home #welcome {
        background: none !important;
        background-color: rgba(0, 0, 0, 0.7) !important;
    }
}

@media screen and (max-width: 600px) {
    #workshops .heading {
        font-size: 1.5rem;
    }
    #contact #form {
        width: 100%;
    }
    #contact #contacts {
        width: 100%;
    }
    #form input,
    #form textarea {
        margin: 15px auto;
        border: 1px solid white !important;
    }
    input[type="submit"] {
        margin-bottom: 50px !important;
    }
    #contact #cover {
        background: none;
        background-color: rgba(0, 0, 0, 0.85);
    }
}

@media screen and (max-width: 425px) {
    #workshops .heading {
        font-size: 1.25rem;
    }
    #welcome #branding #name {
        font-size: 1.7rem;
    }
    #welcome #branding #tag {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 375px) {
    #welcome #branding #name {
        font-size: 1.5rem;
    }
    #team .year .number {
        width: 70px;
        font-size: 26px;
        margin-right: 10px;
    }
}

main {
    display: block;
}

#msgload {
    display: none;
    justify-content: center;
    align-items: center;
    background: #112240;
    animation: animateBg 10s linear infinite;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
}

@keyframes animateBg {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

#msgload .msgpreloader {
    position: relative;
    width: 7.5rem;
    height: 7.5rem;
}

#msgload .msgpreloader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(20deg * var(--i)));
}

#msgload .msgpreloader span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #00cffd;
    box-shadow: 0px 0px 10px #00cffd, 0px 0px 20px #00cffd, 0px 0px 40px #112240, 0px 0px 80px #00cffd, 0px 0px 100px #112240;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.1s * var(--i))
}

@keyframes animate {
    0% {
        transform: scale(1);
    }
    80%,
    100% {
        transform: scale(0);
    }
}

#gallery-page .frame {
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;
    padding: 30px 0;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gallery-page .frame .heading {
    background: #40E0D0;
    background: -webkit-linear-gradient(to bottom, #FF0080, #FF8C00, #40E0D0);
    background: linear-gradient(to bottom, #FF0080, #FF8C00, #40E0D0);
    color: #000;
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px groove black;
    margin-right: 10px;
}

#gallery-page .frame .heading span {
    transform: rotate(180deg);
    display: block;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
    writing-mode: vertical-lr;
}

#gallery-page .frame .frame-flex {
    width: calc(100% - 60px);
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
}

#gallery-page .frame .frame-flex::-webkit-scrollbar {
    height: 4px;
    cursor: pointer;
}


/* Track */

#gallery-page .frame .frame-flex::-webkit-scrollbar-track {
    background: transparent;
}


/* Handle */

#gallery-page .frame .frame-flex::-webkit-scrollbar-thumb {
    background: #40E0D0;
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
}

#gallery-page .frame .frame-flex .thumbnail {
    min-width: 200px;
    width: 200px;
    height: 200px;
    background-color: #fff;
    margin: 0 5px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px groove gray;
}

#gallery-page .frame .frame-flex .thumbnail img {
    height: 100%;
}

#image-big {
    width: 100vw;
    height: 0vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 0;
    overflow: hidden;
}

#image-big #main-div-in {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-big #main-div-in #main-image {
    width: 90%;
    max-width: 1100px;
    height: fit-content;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

#image-big #main-div-in #main-image img {
    height: 70vh;
}

#image-big #main-div-in #close-btn {
    width: 35px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}